Flask==0.11.1
Jinja2==2.8
MarkupSafe==0.23
Werkzeug==0.11.11
argparse==1.2.1
boto==2.34.0
chardet==2.3.0
click==6.6
colorama==0.3.2
crcmod==1.7
funcsigs==1.0.2
gunicorn==19.6.0
html5lib==0.999
itsdangerous==0.24
meld3==1.0.0
mido==1.1.17
mock==2.0.0
numpy==1.11.2
pbr==1.10.0
pretty-midi==0.2.6
protobuf==3.0.0
requests==2.4.3
six==1.10.0
supervisor==3.0
urllib3==1.9.1
virtualenv==1.11.6
wheel==0.29.0
wsgiref==0.1.2